* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  height: 100%;
  overflow: hidden;
}

#game {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}

.tela {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  transform: translateY(100%);
  transition: transform 0.6s ease;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 2rem;
  color: white;
}

#div1 { 
  width: 100%;
  height: 100%;
  background-image: url(../img/jogo/background/selecaoPersonagem.png); 
  transform: translateY(0); 
  background-size: cover;
  background-position: bottom;
  background-repeat: no-repeat;
  background-attachment: fixed;
  gap: 40px;
  padding: 10px; 
  z-index: 1; }

#div2 { 
  width: 100%;
  height: 100%;
  background-image: url(../img/jogo/background/mapa.png); 
  background-size: cover;
  background-position: bottom;
  background-repeat: no-repeat;
  background-attachment: fixed;
  z-index: 2; 
}

#div3 { 
  width: 100%;
  height: 100%;
  background-image: url(../img/jogo/background/imagem.png);
  background-size: cover;
  background-position: bottom;
  background-repeat: no-repeat;
  background-attachment: fixed;
  padding: 10px; 
  z-index: 3
}

.nada{
  display: none;
}

#div4 {
  width: 100%;
  height: 100%;
  background-image: url(../img/jogo/background/loja1.png);
  background-size: cover;
  background-position: bottom;
  background-repeat: no-repeat;
  background-attachment: fixed;
  padding: 10px;  
  z-index: 4;
}

#div5 {
  width: 100%;
  height: 100%;
  background-color: rgba(15, 21, 27, 0.956);
  background-image: url(../img/jogo/background/hospital.png);
  background-size: 80% 100%;
  background-position: bottom;
  background-repeat: no-repeat;
  background-attachment: fixed;
  padding: 10px;
  z-index: 5;
}

button {
  top: 10px;
  left: 10px;
  z-index: 10;
  padding: 10px 20px;
}

/* SELECAO */
#div1 h1{
  text-align: center;
  color: rgb(108, 223, 133);
}

#selecaoPlayer{
  width: 75%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 30px;
}

#laranja.selecionado, #laranja:hover {
  border: 4px solid rgb(255, 128, 0);
  box-shadow: 2px 2px 75px 2px orange;
  transform: scale(1.1);
}

#azul.selecionado, #azul:hover {
  border: 4px solid rgb(10, 142, 179);
  box-shadow: 2px 2px 75px 2px rgb(4, 91, 114);
  transform: scale(1.1);
}

#amarelo.selecionado, #amarelo:hover {
  border: 4px solid rgb(231, 201, 7);
  box-shadow: 2px 2px 75px 2px rgb(231, 201, 7);
  transform: scale(1.1);
}

#porto.selecionado, #porto:hover {
  border: 4px solid rgb(9, 28, 154);
  box-shadow: 2px 2px 75px 2px rgb(3, 13, 96);
  transform: scale(1.1);
}

#ferrus.selecionado, #ferrus:hover {
  border: 4px solid rgb(103, 67, 0);
  box-shadow: 2px 2px 75px 2px rgb(101, 66, 0);
  transform: scale(1.1);
}

#tomoeh.selecionado, #tomoeh:hover {
  border: 4px solid rgb(103, 0, 0);
  box-shadow: 2px 2px 75px 2px rgb(101, 0, 0);
  transform: scale(1.1);
}

#x.selecionado, #x:hover {
  border: 4px solid rgb(0, 114, 129);
  box-shadow: 2px 2px 75px 2px rgb(0, 110, 129);
  transform: scale(1.1);
}

#wallace.selecionado, #wallace:hover {
  border: 4px solid rgb(0, 188, 16);
  box-shadow: 2px 2px 75px 2px rgb(3, 101, 0);
  transform: scale(1.1);
}

.personagens img{
  height: auto;
  width: 80%;
}

.personagens img{
  height: 200px;
  width: 200px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 0px 30% 0px 30%;
  border: solid 4px rgb(108, 223, 133);
  box-shadow: 2px 2px 75px 2px rgb(108, 223, 133);
  transition: 0.5s;
  background-color: rgb(0, 0, 0);
}

#fimSelecao{
  width: 20%;
  height:10%;
  font-size: 50%;
  background-color: rgba(0, 255, 255, 0.521);
  border-radius: 0px 25px;
  border: solid 2px rgba(0, 255, 255, 0.521);
  color: aliceblue;
  padding: 10px;  
  transition: 1s;
}

#fimSelecao:hover{
  background-color: rgb(0, 214, 53);
  box-shadow: 2px 2px 50px 2px rgba(0, 255, 106, 0.521);
  width: 22%;
  border: solid 2px rgba(5, 129, 57, 0.644);
}

/* MAPA */
#conexoes{
  width: 100%;
}

/* INVENTARIO */
#div5{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

#box--menu{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
}

.menu--imagens img{
  height: 500px;
  width: 700px;
}

/* LUTA */
#div3{
  display: flex;
  justify-content: end;
  background-size: cover;
  background-position: bottom;
  background-repeat: no-repeat;
  background-attachment: fixed;
  padding: 10px;
}

#player img{
  height: 250px;
  width: 250px;
  transform: scaleX(-1);
}

.inimigos img{
  height: 250px;
  width: 190px;
  transform: scaleX(-1);
  margin-bottom: -40px;
}

#centro{
  display: flex;
  gap: 700px;
}

.inimigosBlocos{
  display: flex;
  gap: 50px;
}

#base{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 50px;
  margin-top: 100px;
  width: 100vw;
  background-color: #333;
  margin-bottom: -10px;
}

.cartas{
  margin-top: 20px;
  margin-bottom: 20px;
  height: 275px;
  width: 200px;
  border-radius: 25px;
}

.versoCarta{
  height: 110%;
  width: 110%;
}

#energia{
  display: flex;
  flex-direction: column;
  gap: 20px;
  text-align: center;
}

#energia p{
  color: rgb(9, 0, 139);
}