:root {
  --cor-principal: #006f16;
  --cor-secundaria: #42f566;
  --fonte-principal: 'Megrim', cursive;
}

/* =================== BASE =================== */

body {
  margin: 0;
  height: 100vh;
  background: url('./../img/jogo/background/tvTubo2.png') no-repeat center right fixed;
  background-color: black;
  color: var(--cor-principal);
  font-family: var(--fonte-principal);
  overflow: hidden;
}

#versao{
  font-family: 'Press Start 2P', monospace;
  color: #00c728;
  font-size: 24px;
  position: absolute;
  top: 95%;
  left: 89%;
}

/* =================== AVISO FULLSCREEN =================== */

.screen-warning {
  display: none;
  position: fixed;
  inset: 0;
  background: #111;
  color: #fff;
  z-index: 9999;

  align-items: center;
  justify-content: center;
  text-align: center;
  font-size: 20px;
  font-family: 'Press Start 2P', monospace;
}


.warning-box {
  max-width: 420px;
  padding: 30px;
}

/* =================== DESKTOP =================== */

.desktop-content {
  width: 100%;
  height: 100%;
  position: relative;
}

/* =================== CONTAINER PRINCIPAL =================== */

.container {
  position: absolute;
  top: 32vh;
  left: 74vw;
  transform: rotate(1deg);

  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;

  width: 17.5vw;
  height: 21.5vh;
  padding-top: 80px;
  gap: 15px;
}

.container::before {
  content: "";
  position: absolute;
  inset: 0;
  border-radius: 45px;
  background-image: linear-gradient(to bottom,
      transparent 50%,
      rgba(255, 255, 255, 0.1) 50%);
  background-size: 100% 10px;
  animation: scanlines 0.1s infinite;
}

/* =================== TÍTULO =================== */

#title {
  rotate: 1deg;
  margin-top: -30px;
  font-size: 45px;
  color: var(--cor-secundaria);
  animation: vibrate 0.15s infinite;
  background-color: rgba(17, 17, 17, 0.45);
  border-radius: 20px;
  box-shadow: rgba(17, 17, 17, 0.45) 0 0 10px 4px;
}

/* =================== MENU =================== */

.menu {
  rotate: 1deg;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

/* =================== BOTÕES =================== */

.glitch-btn {
  position: relative;
  width: 15vw;
  padding: 10px 20px;
  font-size: 1.5rem;
  cursor: pointer;

  background: rgba(0, 0, 0, 0.5);
  color: #42f566;
  border: 2px solid #42f566;
  border-radius: 15px;

  font-family: 'Megrim', cursive;
}

.glitch-btn:hover {
  background: rgba(255, 255, 255, 0.8);
  color: #006c16;
  border-color: #006c16;
}

.voltar{
  margin-bottom: 30px;
  margin-top: -22px;
}

/* =================== CONQUISTAS =================== */

#conquistas {
  position: absolute;
  top: 67.5vh;
  right: 52vw;
  transform: rotate(-2deg);
}

#conquistas button {
  width: 220px;
  height: 76px;
  background-color: black;
  background-image: linear-gradient(to bottom, transparent 50%, rgba(255, 255, 255, 0.1) 50%);
  background-size: 100% 10px;
  background-position: 0 0;
  animation: scanlines 0.1s infinite;
}

#conquistas button:hover {
  background-color: #42f566;
  color: #002b09;
}

/* =================== FITA (CRÉDITOS) =================== */

.euOdeioMinhaVida {
  background: rgba(0, 0, 0, 0.5);
  color: #42f566;
  border: 2px solid #42f566;
  border-radius: 15px;
  font-family: 'Press Start 2P', monospace;
  font-size: 20px;
  padding: 0 20px;
  padding: 10px;
  margin-top: 20px;
  margin-left: 10px;
  margin-right: 10px;
}

.fita {
  position: absolute;
  width: 20%;
  height: 70vh;
  min-height: 650px;

  margin-top: 14vh;
  margin-left: 1vw;

  background-image: url("./../img/jogo/background/quest1.png");
  background-size: cover;
  background-position: center;

  border-radius: 0 70px 0 70px;
  border: 2px solid rgb(161, 89, 6);

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;

  font-family: 'Press Start 2P', monospace;
  color: white;
  font-size: 20px;
}

.dev {
  padding: 14px;
}

/* =================== CORES =================== */

.gren {
  color: #00c728;
}

.red {
  color: #cc2929;
}

.blue {
  color: #147cdd;
}

.yellow {
  color: #ccdd14;
}

.purple {
  color: #a114dd;
}

/* =================== ANIMAÇÕES =================== */

@keyframes scanlines {
  from {
    background-position: 0 0;
  }

  to {
    background-position: 0 10px;
  }
}

@keyframes vibrate {

  0%,
  100% {
    transform: translate(0);
  }

  25% {
    transform: translate(1px, -1px);
  }

  50% {
    transform: translate(-1px, 1px);
  }

  75% {
    transform: translate(1px, 1px);
  }
}

.popup-creditos{
  position: fixed;
  inset: 0;

  display: none;

  align-items: center;
  justify-content: center;

  z-index: 999999;

  overflow: hidden;

  /* FUNDO */
  background: url("../img/jogo/background/quiz1.png");

  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;

  backdrop-filter: blur(6px);
}

.popup-content{
  width: 90vw;
  max-height: 85vh;

  overflow-y: auto;
  display: flex;
  flex-direction: row;
  gap:60px;

  background: linear-gradient(
      rgba(0,0,0,0.22),
      rgba(0,0,0,0.28)
    ),
    url("../img/jogo/background/quest1.png");

  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;

  border: 3px solid #d7ff75;

  border-radius: 18px;

  padding: 45px;

  position: relative;

  text-align: center;

  box-shadow:
    0 0 25px #d7ff75,
    0 0 60px rgba(215,255,117,.25),
    inset 0 0 30px rgba(215,255,117,.06);

  animation: popupEntrada .35s ease;
}

/* TITULOS */
.popup-content h1{
  font-size: 30px;

  margin-top: 35px;
  margin-bottom: 20px;

  letter-spacing: 3px;

  text-shadow:
    0 0 10px currentColor,
    0 0 20px currentColor;
}

/* NOMES */
.popup-content p{
  font-size: 20px;

  margin-bottom: 16px;

  transition: .25s;

  cursor: pointer;

  font-family: "Press Start 2P", cursive;

  line-height: 1.8;
}

.popup-content p:hover{
  transform: scale(1.05);

  text-shadow:
    0 0 10px currentColor,
    0 0 25px currentColor;
}

/* LINKS */
.popup-content a{
  text-decoration: none;
}

.geral-color{
  color: #baffc9;
}

/* BOTAO FECHAR */
.fechar-popup{
  position: absolute;

  top: 15px;
  right: 18px;

  width: 70px;
  height: 70px;

  border-radius: 12px;

  border: 2px solid #75ff75;

  background: rgb(3, 37, 5);

  color: #75ff77;

  font-size: 24px;

  cursor: pointer;

  transition: .25s;

  box-shadow:
    0 0 10px rgba(215,255,117,.3);
}

.fechar-popup:hover{
  transform: scale(1.08);

  background: #75ff7e;

  color: #111;

  box-shadow:
    0 0 20px #75ff75,
    0 0 40px #81ff75;
}

/* SCROLL */
.popup-content::-webkit-scrollbar{
  width: 10px;
}

.popup-content::-webkit-scrollbar-thumb{
  background: #d7ff75;

  border-radius: 10px;
}

.credito-box{
  background-color: #111111d5;
  border-radius: 25px;
  padding: 25px;
  min-height: 250px;
  border: #00c728 solid 2px;
  margin-top: 50px;
  max-width: 25%;
}

.credito-box_main{
  display: flex;
  flex-direction: column;
}

.credito-box_main .credito-box{
  min-width: 90%;
}

/* ANIMAÇÃO */
@keyframes popupEntrada{
  from{
    opacity: 0;
    transform: scale(.85) translateY(20px);
  }

  to{
    opacity: 1;
    transform: scale(1) translateY(0);
  }
}

/* =================== BLOQUEIO MOBILE =================== */

@media (max-width: 1825px) {
  .screen-warning {
    display: flex;
    /* só aqui */
  }

  .desktop-content {
    display: none;
  }
}

@media (min-width: 1910px) {
  .container {
    top: 35vh;
    height: 17.2vh;
  }
  #conquistas{
    top: 65.5vh;
    right: 51.6vw;
  }
}